# Proyecto Mineria de Datos
## Indice de Precios al Consumidor

**Importar liberias**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [2]:
directory = './Data/'
files = os.listdir(directory)
dataframes = []
years = []
col_names = []

for filename in files:
    year = filename[4:-4]
    years.append(year)
    df = pd.DataFrame(pd.read_excel(directory + filename))
    dataframes.append(df)
print("Lista de dataframes creada...")

for index in range(len(dataframes)):
    dataframe = dataframes[index]
    df_len = len(dataframe)    
    dataframes[index] = dataframe    
print("Columna de años añadida...")

col_names = list(dataframes[0].columns)
print("Nombres de columnas añadidos...")
for index in range(len(dataframes)):
    df = dataframes[index]
    df.columns = col_names

df = pd.concat(dataframes, axis=0)
print("Dataframes concatenados concluidos...")
df.to_csv('Data/concatenated_data.csv')

Lista de dataframes creada...
Columna de años añadida...
Nombres de columnas añadidos...
Dataframes concatenados concluidos...

**Cargar los datasets al entorno**

-------
## Análisis Exploratorio

----------
**Carga del dataset**

In [5]:
df = pd.read_csv('concatenated_data.csv', sep=',')

**Visualizar estructura e información general del dataset**

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69406 entries, 0 to 69405
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   69406 non-null  int64
 1   Año          69406 non-null  int64
 2   Mes          69406 non-null  object
 3   Código       69406 non-null  int64
 4   Descripción  69406 non-null  object
 5   Rep.         69406 non-null  float64
 6   Reg. I       69406 non-null  float64
 7   Reg. II      69406 non-null  float64
 8   Reg. III     69406 non-null  float64
 9   Reg. IV      69406 non-null  float64
 10  Reg. V       69406 non-null  float64
 11  Reg. VI      69406 non-null  float64
 12  Reg. VII     69406 non-null  float64
 13  Reg. VIII    69406 non-null  float64
dtypes: float64(9), int64(3), object(2)
memory usage: 7.4+ MB

In [7]:
df.shape

(69406, 14)

14 columnas y 69,406 registros

In [10]:
df.head()

,Unnamed: 0,Año,Mes,Código,Descripción,Rep.,Reg. I,Reg. II,Reg. III,Reg. IV,Reg. V,Reg. VI,Reg. VII,Reg. VIII
0,0,2012,Enero,0,INDICE GENERAL,106.30,104.70,110.51,106.58,110.20,106.43,106.76,106.40,105.87
1,1,2012,Enero,1,ALIMENTOS Y BEBIDAS NO ALCOHÓLICAS ...,111.91,109.47,118.92,111.87,120.07,111.14,109.97,112.97,110.52
2,2,2012,Enero,111101,ARROZ ...,104.87,103.80,104.06,103.07,111.94,109.30,104.26,103.48,102.30
3,3,2012,Enero,111201,HARINA ...,120.08,118.68,116.96,121.11,125.04,122.34,116.25,125.76,110.15
4,4,2012,Enero,111202,MAÍZ ...,128.28,116.51,125.60,111.01,112.11,113.30,139.49,134.29,120.79

#### **Variables identificadas:**

- **Año:** 
- **Mes:**
- **Código:**
- **Rep:**
- **Región 1:**
- **Región 2:**
- **Región 3:**
- **Región 4:**
- **Región 5:**
- **Región 6:**
- **Región 7:**
- **Región 8:**

**Estadísticas descriptivas de las variables numéricas**

In [13]:
df.describe()

,Unnamed: 0,Año,Código,Rep.,Reg. I,Reg. II,Reg. III,Reg. IV,Reg. V,Reg. VI,Reg. VII,Reg. VIII
count,69406.000000,69406.000000,6.940600e+04,69406.000000,69406.000000,69406.000000,69406.000000,69406.000000,69406.000000,69406.000000,69406.000000,69406.000000
mean,1600.098017,2012.164222,3.402902e+05,145.155011,133.033421,172.974989,135.328651,230.645981,137.125293,132.134601,156.046533,147.297774
std,949.188526,6.274133,3.844830e+05,145.217644,64.678597,396.842367,107.327489,1336.353370,91.226810,78.941524,221.945078,232.610948
min,0.000000,2001.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,788.000000,2007.000000,4.311100e+04,108.360000,107.200000,105.790000,106.311336,106.270000,105.690000,105.430000,103.840000,104.580000
50%,1577.000000,2013.000000,1.171110e+05,117.890000,118.205000,116.050000,117.860000,119.770000,115.890000,114.510000,113.900000,113.270000
75%,2366.000000,2018.000000,6.111030e+05,137.640000,138.115000,136.810000,135.660000,142.380000,134.530000,133.120000,136.050000,130.790000
max,3503.000000,2022.000000,1.251105e+06,3992.220000,2209.690000,9879.290000,3436.830000,60211.130000,2285.100000,2168.580000,5182.990000,6798.260000

**Las estadísticas descriptivas muestran los siguientes puntos sobre las variables numéricas:**

- Los años de estudio varían entre el 2001 y el 2022.
-

**Verificar existencia de valores nulos**

In [15]:
df.isnull().sum()

Unnamed: 0     0
Año            0
Mes            0
Código         0
Descripción    0
Rep.           0
Reg. I         0
Reg. II        0
Reg. III       0
Reg. IV        0
Reg. V         0
Reg. VI        0
Reg. VII       0
Reg. VIII      0
dtype: int64